/*.header {
  margin: 40px 0 40px 0;
}*/

.title {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px #000000;
  transform: translateY(50%);
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
  margin: 40px 0 40px 0;
}

/*.logo {
  margin: 40px 0 40px 0;
  position: absolute;
  top: 10px;

}*/

/*body {
  background-color: rgba(0,0,0,0)
}*/
