.roommate {
  border: 3px solid #000000;
  padding: 5px;
  margin: 10px;
  position: relative;
}

.name, .utility, .amount-input {
  margin: 8px;
}

.invis {
  display: none;
}

.remove-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
}

.amount-input {
  background-color: rgba(0,0,0,0);
  color: #000000;
  border: 1px solid;
}

/*::-webkit-input-placeholder, input:-moz-placeholder {
   color: black;
}*/
